
<h1><%= @current_user.name %></h1>

<div class="list"> 
    <h3>Your reviews:</h3>
      <ul>
        <% @current_user.users_ratings.each do |r| %>
        <li><%= link_to wine_name(r.wine), wine_path(r.wine) %> - <%= show_stars(r.stars) %></li>
        <% end %>
      </ul>
</div>
