
<h1><%= @current_user.name %></h1>
<br>
<p> <%= link_to "Add a new wine", new_wine_path, class: "btn btn-primary" %> </p>
<br>
<h2>Your wines</h2>
<div id="userWineList" class="list-group">
</div>

<script>
$(getUserWines())
</script>