<h1>Welcome to Favorite Wine!</h1>
<h2>Rate and review all of your favorite, and not so favorite wines.</h2>
<h3><i>Who, What, When, Where, Wine!</i></h3>
<br><br>
<div class="left-pic">
   <img src="https://a.optmnstr.com/users/ded0a8e73464/images/bcd57a2beedf1532960477-600-multi-colored-wine-charlie-parker.jpg">
 </div>
<br><br>
<p> Create an account to join the millions of people already using <i>Favorite Wines</i>. </p>
<br>
<div>
  <%= link_to'Log in with Github!', '/auth/github', :class=>"btn btn-social-icon btn-github" %>
</div>
