<div class="alert alert-success">
<h1>Welcome to Favorite Wine!</h1>
</div>
<h2>Rate and review all of your favorite, and not so favorite wines.</h2>

<br><br>
<p> <%= link_to "Create an account", new_user_path %>, or <%= link_to "Sign In", signin_path %> to join the millions of people already using <i>Favorite Wines</i>. </p>
<br>
<div>
  <%= link_to image_tag("https://lh3.googleusercontent.com/JOb-1edXXl9_rrXDIOmDwMj_aTPyzysn6-vSAq_VV1AYV_M_2gec7TDRBd_R-qchK8j8=s170"), '/auth/github', class: "github_button" %>
</div>
