<div>
<h1>Welcome to Favorite Wines!</h1>
</div>
<h2>Rate and review all of your favorite, and not so favorite wines.</h2>

<br><br>
<p> <%= link_to "Create an account", new_user_path %>, or <%= link_to "Sign In", signin_path %> to join the millions of people already using <i>Favorite Wines</i>. </p>
<br>
 <div>
  <%= login_with_github %>
  </div>