<h1> <%= wine_name(@rating.wine) %> </h1>
<h2>Review by: <%= @rating.user.name %></h2>
<h2> <%= show_stars(@rating.stars) %> </h2>
<h3>Comments: </h3>
<h3>Tasting Notes: </h3>
<% if current_user == @rating.user %>
  <%= link_to "Edit Review", root_path %>
<% end %>
