<h1>Wines!</h1>

<div id="newWineList" class="list-group">
</div>

<!-- --> 

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  <span class="close">&times;</span>
   
  </div>
</div>

<script>
$(getWines())
</script>

